html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;

  line-height: 1.5;
  margin: 1.5rem;
  padding: 2em;
  display: inline-block;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  max-width: 25em;
  margin: 0;
  display: inline-block;
}

img {
  display: block;
  width: 100%;
  text-align: center;
}

body {
  text-align: left;
  max-width: 25em;
  margin: 0;
  display: inline-block;
}

h2 {
  display: inline-block;
}

p {
  display: inline-block;
}

.btn {
  font-size: 1rem;
  font-family: Lato, sans-serif;
  text-decoration: none;
  display: inline-block;
  max-width: 20em;
  padding: .4em .75em .5em;
  border: 3px solid #666;
  border-radius: 10px;
  text-align: left;
}

.btn:hover {
  background: #333;
  color: #eee9de;
}
